language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

services:
  - memcached
  - redis-server

before_script:
  # composer update
  - composer self-update
  - composer install --no-interaction --prefer-source --dev
  # enable the memcached and redis extensions
  - echo "extension = memcached.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - echo "extension = redis.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

script:
  # phpunit
  - vendor/bin/phpunit
  # phpcs
  - vendor/bin/phpcs --standard=PSR2 ./src/ ./test/
